@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
  --color-linear: linear-gradient(to right, #1dbde6, #f1515e);
  --main-color: #233d4d;
}

body {
  font-family: var(--font-roboto);
  background: var(--color-linear);
}

main {
  padding: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.9px;
  background: linear-gradient(90deg, #000000 0%, rgba(249, 211, 180, 0) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.search {
  width: 71%;
  margin: 4rem 0 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1.5rem 1.75rem;
  border-radius: 3rem;
  background: #e9e9e99a;
  -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
}

.search input {
  flex: 1;
  border: none;
  font-size: 1.5rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  padding-right: 1rem;

  outline: none;
  color: #000000;
  background: transparent;
}

.search img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
}
.container img {
  width: 14em;
  margin: 1em;
  border-radius: 10px;
}
.text-field {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.text-field h4 {
  font-weight: 400;
  font-size: 1em;
  line-height: 12px;
  letter-spacing: 0.17em;
  margin: 0.5em;
}
.text-field p {
  font-weight: 500;
  line-height: 150%;
  color: #000;
}
@media screen and (max-width: 600px) {
  main {
    padding: 4rem 2rem;
  }

  .search {
    padding: 1rem 1.75rem;
    width: 100%;
  }

  .search input {
    font-size: 1rem;
  }

  .search img {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 430px) {
  main {
    padding: 4rem 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  .container {
    display: block;
    margin-top: 2rem;
  }
}
